In [ ]:
#4 Filtering

In [7]:
people = {
    "first": ["Gonzalo", "Jane", "Joe"],
    "last": ["Rivero Baud", "Doe", "Doe"],
    "email": ["burrito@gmail.com", 'janedoe@email.com', "johndoe@email.com"]
}

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

     first         last              email
0  Gonzalo  Rivero Baud  burrito@gmail.com
1     Jane          Doe  janedoe@email.com
2      Joe          Doe  johndoe@email.com

In [17]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [18]:
filt = df['last'] == 'Doe'

In [19]:
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [20]:
df[filt]

  first last              email
1  Jane  Doe  janedoe@email.com
2   Joe  Doe  johndoe@email.com

In [21]:
df[df['last'] == 'Doe']

  first last              email
1  Jane  Doe  janedoe@email.com
2   Joe  Doe  johndoe@email.com

In [22]:
df.loc[filt]

  first last              email
1  Jane  Doe  janedoe@email.com
2   Joe  Doe  johndoe@email.com

In [23]:
df.loc[filt, 'email']

1    janedoe@email.com
2    johndoe@email.com
Name: email, dtype: object

In [24]:
filt2 = (df['last'] == 'Doe') & (df['first'] == 'Jane')

In [25]:
filt2

0    False
1     True
2    False
dtype: bool

In [26]:
df.loc[filt2, 'email']

1    janedoe@email.com
Name: email, dtype: object

In [27]:
filt3 = (df['last'] == 'Rivero Baud') | (df['first'] == 'Jane')

In [28]:
filt3

0     True
1     True
2    False
dtype: bool

In [29]:
df.loc[filt3, 'email']

0    burrito@gmail.com
1    janedoe@email.com
Name: email, dtype: object

In [30]:
df.loc[~filt3, 'email']

2    johndoe@email.com
Name: email, dtype: object

In [31]:
df2 = pd.read_csv('data/survey_results_public.csv')

In [32]:
df2

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [57]:
high_salary_filter = (df2['ConvertedCompYearly'] < 400000)

In [58]:
df2.loc[high_salary_filter].head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0
11,12,I am a developer by profession,Employed full-time,Spain,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Hispanic or Latin...,None of the above,None of the above,Too long,Easy,46482.0
12,13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0
16,17,I am a developer by profession,Employed full-time,Turkey,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School,6,...,25-34 years old,Man,No,NaN,Middle Eastern,NaN,NaN,Appropriate in length,Neither easy nor difficult,17748.0

In [65]:
df2.loc[high_salary_filter, ['Country', 'LanguageHaveWorkedWith', 'ConvertedCompYearly']].sort_values('ConvertedCompYearly', ascending=False).head(70)

,Country,LanguageHaveWorkedWith,ConvertedCompYearly
17086,United States of America,C#;HTML/CSS;Python;Ruby;SQL,395000.0
45839,United States of America,Assembly;Bash/Shell;C;C++;Go;Java;JavaScript;P...,395000.0
13309,Greece,Bash/Shell;HTML/CSS;JavaScript;Ruby;SQL,390456.0
17586,United States of America,C#;F#;JavaScript;Matlab;R;SQL;TypeScript,390000.0
61030,United States of America,Bash/Shell;Go,390000.0
...,...,...,...
60252,United States of America,Bash/Shell;Go;HTML/CSS;JavaScript;LISP;Node.js...,370000.0
4583,India,Python;R;SQL,368592.0
40946,India,Go;HTML/CSS;Java;JavaScript;Python;Scala,368592.0
11521,India,Go;JavaScript;Node.js;SQL;TypeScript,368592.0
46937,United Kingdom of Great Britain and Northern I...,Bash/Shell;C#;JavaScript;Node.js;SQL;TypeScript,367097.0

In [60]:
countries = ['United States', 'India', 'Argentina', 'United Kingdom', 'Germany', 'Canada']
c_filter = df2['Country'].isin(countries)

In [61]:
df2.loc[c_filter, 'Country']

8          India
12       Germany
17        Canada
20       Germany
22         India
          ...
83415    Germany
83417      India
83424    Germany
83432     Canada
83437     Canada
Name: Country, Length: 19735, dtype: object

In [62]:
df2['LanguageHaveWorkedWith']

0        C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
1                                    JavaScript;Python
2                             Assembly;C;Python;R;Rust
3                                JavaScript;TypeScript
4                       Bash/Shell;HTML/CSS;Python;SQL
                             ...
83434                               Clojure;Kotlin;SQL
83435                                              NaN
83436                               Groovy;Java;Python
83437             Bash/Shell;JavaScript;Node.js;Python
83438           Delphi;Elixir;HTML/CSS;Java;JavaScript
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object

In [63]:
l_filter = df2['LanguageHaveWorkedWith'].str.contains('Python', na=False)

In [64]:
df2.loc[l_filter, 'LanguageHaveWorkedWith']

1                                        JavaScript;Python
2                                 Assembly;C;Python;R;Rust
4                           Bash/Shell;HTML/CSS;Python;SQL
5        C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...
9                                               C++;Python
                               ...
83429               HTML/CSS;PHP;PowerShell;Python;SQL;VBA
83430          APL;Clojure;LISP;Python;Ruby;SQL;TypeScript
83431    C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...
83436                                   Groovy;Java;Python
83437                 Bash/Shell;JavaScript;Node.js;Python
Name: LanguageHaveWorkedWith, Length: 39792, dtype: object

In [68]:
l_filter # applies a mask to the dataframe

0        False
1         True
2         True
3        False
4         True
         ...
83434    False
83435    False
83436     True
83437     True
83438    False
Name: LanguageHaveWorkedWith, Length: 83439, dtype: bool